{
	"parser": "babel-eslint",
	"extends": ["airbnb"],
	"plugins": [
		"jest",
	],
	"rules": {
		"react/jsx-filename-extension": 0,
		"react/require-default-props": 0,
		"react/destructuring-assignment": 0,
	}
}
